@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* *******************************************
              Common Styles
**********************************************/

/* heading style  */

h1 {
  font-size: clamp(28px, 4vw, 36px);
}
h2 {
  font-size: clamp(24px, 3.5vw, 30px);
}
h3 {
  font-size: clamp(20px, 3vw, 24px);
}
h4 {
  font-size: clamp(18px, 2.5vw, 20px);
}
h5 {
  font-size: clamp(16px, 2vw, 18px);
}
h6 {
  font-size: clamp(14px, 1.5vw, 16px);
}

@theme {
  /* breakpoints */
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  /* colors */
  --color-primary-50: #e6faf5;
  --color-primary-100: #c0f3e6;
  --color-primary-200: #96ebd6;
  --color-primary-300: #6de2c6;
  --color-primary-400: #47dab7;
  --color-primary-500: #0ebe98; /* main */
  --color-primary-600: #0ba483;
  --color-primary-700: #098a6f;
  --color-primary-800: #067f62;
  --color-primary-900: #045749;

  --color-primary: var(--color-primary-500);
}

/* utilities */

@utility dark-border {
  @apply dark:border-[#303030] dark:border;
}

::selection {
  background-color: #0ebe98; /* selection bg */
  color: #ffffff; /* selection text */
}

/* swiper style override */

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #26d07c !important; /* green active dot */
}

/* ant design override */

/* sidebar style  */

.sidebar .ant-menu-item {
  padding-left: 25px !important;
}
.ant-menu-submenu-popup {
  display: none !important;
}

.ant-layout-sider,
.ant-menu {
  transition: none !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  transition: none !important;
}

.ant-table,
.ant-table-container,
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table-row {
  transition: none !important;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector,
.ant-picker,
.ant-select {
  transition: none !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(40);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.animate-slide-up {
  animation: slideUp 0.35s ease-out;
}
