@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme {
  /* breakpoints */
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  /* colors */
  --color-primary-50: #e6faf5;
  --color-primary-100: #c0f3e6;
  --color-primary-200: #96ebd6;
  --color-primary-300: #6de2c6;
  --color-primary-400: #47dab7;
  --color-primary-500: #0ebe98; /* main */
  --color-primary-600: #0ba483;
  --color-primary-700: #098a6f;
  --color-primary-800: #067f62;
  --color-primary-900: #045749;

  --color-primary: var(--color-primary-500);
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #26d07c !important; /* green active dot */
}

/* sidebar style  */

.sidebar .ant-menu-item {
  padding-left: 25px !important;
}
.ant-menu-submenu-popup {
  display: none !important;
}
