@import "tailwindcss";
@import "./utilities.css";
@custom-variant dark (&:where(.dark, .dark *));
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
/* *******************************************
              Common Styles
**********************************************/
/* heading style  */
h1 {
  font-size: clamp(28px, 4vw, 36px);
}
h2 {
  font-size: clamp(24px, 3.5vw, 30px);
}
h3 {
  font-size: clamp(20px, 3vw, 24px);
}
h4 {
  font-size: clamp(18px, 2.5vw, 20px);
}
h5 {
  font-size: clamp(16px, 2vw, 18px);
}
h6 {
  font-size: clamp(14px, 1.5vw, 16px);
}

p {
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: 1.65;
  font-weight: 400;
}

@theme {
  /* breakpoints */
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  /* colors */
  --color-primary-50: #e6faf5;
  --color-primary-100: #c0f3e6;
  --color-primary-200: #96ebd6;
  --color-primary-300: #6de2c6;
  --color-primary-400: #47dab7;
  --color-primary-500: #0ebe98; /* main */
  --color-primary-600: #0ba483;
  --color-primary-700: #098a6f;
  --color-primary-800: #067f62;
  --color-primary-900: #045749;

  --color-primary: var(--color-primary-500);
}

::selection {
  background-color: #0ebe98; /* selection bg */
  color: #ffffff; /* selection text */
}

/* swiper style override */

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #26d07c !important; /* green active dot */
}

@keyframes slideUp {
  0% {
    transform: translateY(40);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.animate-slide-up {
  animation: slideUp 0.35s ease-out;
}

/* Chrome, Edge, Safari */
.sidebar-main::-webkit-scrollbar {
  width: 5px;
}

.sidebar-main::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* Firefox */
.sidebar-main {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
